
body {
    background-image: url("../img/background collage v4.png");
    font-family: "Comic Sans", "Comic Sans MS", "Chalkboard", "ChalkboardSE-Regular", sans-serif;
    text-align: center;
}
p {
    text-indent: 50px;
    text-align: justify;
    display: inline;
}
a {
    color: navy;
    text-decoration: none;
}
a:hover {
    color: red;
}
table {
    margin: auto;
    text-align: center;
}
.tagline {
    margin-bottom: 100px;
}
.content-header {
    font-size: 26px;
}
.page-content {
    margin: auto;
    max-width: 100%;
}
.site-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 14px;
}

.site-menu li {
    padding: 5px;
}
#services-list {
    margin: auto;
}
.content-meat {
    text-align: justify;
}
td {
    display: block;
    vertical-align: top;
}
.content-header {
    font-size: 21px;
}
#profile-image {
    width: 185px;
    height: 250px;
    margin: auto;
    text-align: center;
}

/*Contact Page*/
#contact-section {
    margin-top: 100px
}
#contact-header {
    display: none;
}

/*Desktop Styles*/
@media screen and (min-width: 768px)
{
    td {
        display: table-cell;
    }
    .site-info {
        width: 205px;
        text-align: justify;
        margin-left: 0px;
    }
    .page-content {
        width: 50%;
        min-width: 500px;
    }
    .content-header {
        text-align: center;
    }
    tbody {
        margin-left: 0px;
    }
}










